<head>
    <!-- scss -->
    <meta http-equiv="Pragma" content="no-cache, no-store">
    <meta name="version" content="1.0.3"/>
    <link rel="stylesheet" href="assets/styles/vi_padrao.scss">
    <link rel="stylesheet" href="assets/styles/form_delete.scss">
    <script src="scripts/form_delete.js"></script>
</head>
<div class="modal fade" id="show_msgdelete" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" aria-labelledby="show_msgdelete" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content bg-dark content-fluid">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="text-white">Exclusão de nota</h4>
                <button type="button" class="modal-close text-white small" data-bs-dismiss="modal">x</button>
            </div>
            <div class="modal-body bg-transparent">
                <div class="mb-3 justify-content-between">
                    <div class="row row-group row-fluid">
                        <div class="col col-sm-5 float-start br-1"><label class="text-white" for="input_nunota"><b>Número:</b></label></div>
                        <div class="col col-sm-6 float-end br-2"><input type="text" size="20" class="form-control" id="input_nunota" value="999999999" /></div>
                    </div>
                    <div class="row row-group row-fluid">
                        <div class="col col-sm-5 float-start br-1"><label class="text-white" for=""><b>Confirma Exclusão?</b></label></div>
                        <div class="col col-sm-3 float-left br-2"><button class="btn btn-success" id="confirm">Sim</button></div>&nbsp;&nbsp;
                        <div class="col col-sm-3 float-end br-3"><button class="btn btn-danger" id="cancel">Não</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
