<head>
    <script src="scripts/load_imgnotas.js"></script>
    <style>
        .modal#form-tributos {
            display:block;
            overflow:hidden;
        }
        .card-body#dados-pdf::-webkit-scrollbar {
            display:none;
        }
       
    </style>
</head>
<div class="modal fade" id="form-tributos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white justify-content-between bg-transparent">
            <div class="modal-body" style="display:block; width:40rem;">
                <div class="card card-content card-fluid" style="height:80vh !important; width:auto; overflow: hidden;">
                    <div class="card-header bg-dark" style="height:2.91rem;">
                        <div class="card-title text-center text-white"><h5>Dados PDF</h5></div>
                        <button class="btn btn-close text-white" style="float:right; position:relative;top:-2em;" data-bs-dismiss="modal">X</button>
                    </div>
                    <div class="card-body" id="dados-pdf" style="position: relative; overflow-y: auto;" >
                        <div class="row">
                            <div class="col col-md-3 text-center">
                                <img src='assets/images/spin-wait.gif' width='auto' alt='waiting' style='position:relative;'>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark" style="height: 2.91rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

