<table class="table tb-anexos w-100" style="width:28vw; height: 20vh; font-size:9px;">
    <thead class="sticky-top">
        <tr scope="row justify-content-between">
            <th scope="col" class="col col-sm-1 br-1">#</th>
            <th scope="col" class="col-4 text-center"><b>Arquivo</b></th>
            <th scope="col" class="col-4 text-center"><b>Assunto<b></th>
            <th scope="col" class="col-3 text-center"><b>+<b></th>
        </tr>
    </thead>
    <tbody class="tbody-anexo w-100" style="height: 16vh; max-height: 25vh; overflow-y: auto;">
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>
        <tr scope="row">
            <td scope="col" class="col-2 br-1">
                <input type="checkbox" id="check-anexo-1" class="form-check-input" value="0">
            </td>
            <td scope="col" class="col-4">
                <input type="text" id="file-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="col-4 ">
                <input type="text" id="assunto-anexo-1" class="form-control-input bg-white border text-dark input-sm-5" size="25">
            </td>
            <td scope="col" class="text-center col-3" style="white-space:nowrap">
                <img src="#" alt="lixeira" data-id_anexo="" id="delete-anexo" width="18" height="auto" title="Apagar anexo">
                <img src="#" alt="selfile" id="select-anexo" width="18" height="auto" title="Selecionar arquivo">
                <img src="#" data-blob_anexo="" alt="abrir anexos" id="abrir-anexo" width="18" height="auto" title="Ver anexo">
            </td>
        </tr>

    </tbody>
</table>