
$(document).ready(function() {
   let div_program = $(".generic");
   $.ajax({
       url: 'modules/ler_tabelausuarios.php',
       type: 'POST',
       success: function(data) {
           // console.log(data);
           var resp = JSON.parse(data);
           var response = resp.Data;
           var tbodyContent = '';
           response.forEach(function(item, index) {
               var row = `
                           <tr>
                           <td>${item.indice}</td>
                           <td>${item.nome_usuario}</td>
                           <td>${item.codigo_usuario}</td>
                           <td>${item.status_ativo=="S" ?"Ativo": "Inativo"}</td>
                           <td>${item.tipo_usuario}</td>
                           <td>${item.estado_usuario}</td>
                           <td>${item.municipio_usuario}</td>
                           <td>${item.agencia_usuario}</td>
                           <td>
                               <div style="display:flex; flex-direction:row; justify-content:space-around">
                                   <div>
                                       <a type="button" class="btn btn-success btn-sm btn-editar" data-id="${item.indice}">Editar</a>
                                   </div>
                                   <div>
                                       <form action="services/controller.php" method="POST" class="d-inline">
                                       <button onclick="return confirm('Tem certeza que deseja excluir?')" type="submit" name="delete_usuario" value="${item.indice}" class="btn btn-danger btn-sm">
                                       <span class="bi-trash3-fill"></span>&nbsp;Excluir
                                       </button>
                                       </form>
                                   </div>
                               </div>
                           </td>
                           </tr>
                           `;
               tbodyContent += row;
           });
           $('tbody').html(tbodyContent);
       },
       error: function(xhr, status, error) {
           console.error('Error:', error);
       }
   });



   $(document).on("click", ".btn-editar", function(e) {
       e.preventDefault();
       e.stopPropagation();
       var userId = $(this).data('id'); 
   
       $.ajax({
           url: 'modules/ler_userbyid.php',
           type: 'POST',
           data: { id_user: userId },
           success: function(data) {
               var resp = JSON.parse(data);
               var error = resp.Error;
               var response = resp.Data;
               if (error == '0' && response.length > 0) {
                   var item = response[0]; 
   
                   var row = `                                
                               <head>
                               <link rel="stylesheet" href="assets/styles/modalcriarusuario.css">
                               </head>
                               <!-- Modal -->
                               <div class="modal fade custom-modal" id="criar_usuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                               <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <h5 class="modal-title" id="staticBackdropLabel">Editar usuário</h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                   </div>
                                   <div class="modal-body">
                                       <!-- centralizado -->
                                       <div class="d-flex justify-content-center align-items-center">
                                           <div class="col-md-12">
                                           <div class="card">
                                               <div class="card-header">
                                                   <h4>Atualizar usuario
                                                   </h4>
                                               </div>

                                               

                                               <div class="card-body">
                                                   <form class="card-text form-login" action="" autocomplete="off">POST
                                                       <!-- Primeira linha (nome, código e senha) -->
                                                       <div class="row mb-3">
                                                       <div class="col-md-4">
                                                           <label class="text-dark">Nome</label>
                                                           <input type="text" id="nome" value="${item.nome_usuario}" name="nome" class="form-control" maxlength="50" placeholder="Ingresse seu nome" required>
                                                       </div>
                                                       <div class="col-md-4">
                                                           <label class="text-dark">Código</label>
                                                           <input type="text" id="codigo" value="${item.codigo_usuario}" name="codigo" class="form-control" maxlength="20" minlength="4" placeholder="Ingresse o código" required>
                                                       </div>
                                                       <div class="col-md-4">
                                                           <label class="text-dark">Senha</label>
                                                           <input type="password" id="senha" value="${'item.senha'}" name="senha" class="form-control" maxlength="20" placeholder="Ingresse sua senha" required>
                                                       </div>
                                                       </div>
                                                       <!-- Segunda linha (tipo de usuário, estado, município e agência) -->
                                                       <div class="row mb-3">
                                                       <div class="col-md-3">
                                                           <label class="text-dark">Tipo de Usuário</label>
                                                           <select id="tipo_usuario" name="tipo_usuario" class="form-select" required>
                                                               <option value="" disabled selected>Selecione um tipo de usuário</option>
                                                           </select>
                                                       </div>
                                                       <div class="col-md-3">
                                                           <label class="text-dark">Estado</label>
                                                           <select id="estado" name="estado" class="form-select" required>
                                                               <option value="" disabled selected>Selecione um estado</option>
                                                           </select>
                                                       </div>
                                                       <div class="col-md-3">
                                                           <label for="municipio" class="text-dark">Municipio:</label>
                                                           <select id="municipio" name="municipio" class="form-select"  required disabled>
                                                               <option value="">Seleccionar Municipio</option>
                                                           </select>
                                                       </div>
                                                       <div class="col-md-3">
                                                           <label for="agencia" class="text-dark">Agência:</label>
                                                           <select id="agencia" name="agencia" class="form-select"  required disabled>
                                                               <option value="">Seleccionar Agência</option>
                                                           </select>
                                                       </div>
                                                       </div>
                                                       <!-- Terceira linha (período início e fim) -->
                                                       <!-- <div class="row mb-3">
                                                       <div class="col-md-6">
                                                           <label>Período - Início</label>
                                                           <input id="data_inicio" type="date" name="inicio_periodo" class="form-control" required>
                                                       </div>
                                                       <div class="col-md-6">
                                                           <label>Período - Fim</label>
                                                           <input id="data_fim" type="date" name="fim_periodo" class="form-control" required>
                                                       </div>
                                                       </div> -->
                                                   </form>
                                               </div>



                                           </div>
                                           </div>
                                          
                                       </div>
                                       <div class="modal-footer">
                                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                           <button type="button" class="btn btn-primary">Salvar</button>
                                       </div>
                                   </div>
                               </div>
                               </div>
                             `;
                   
                             div_program.html('');
                             div_program.html(row);
                             let modal= $(".modal");
                             modal.modal('show');
               }
           },
           error: function(xhr, status, error) {
               console.error('Error:', error);
           }
       });
   });

{a}

   // $(document).on("click", ".btn-editar", function(e) {
   //     e.preventDefault();
   //     e.stopPropagation();
   //     var userId = $(this).data('id'); 
   
   //     $.ajax({
   //         url: 'modules/ler_userbyid.php',
   //         type: 'POST',
   //         data: { id_user: userId },
   //         success: function(data) {
   //             var resp = JSON.parse(data);
   //             var error = resp.Error;
   //             var response = resp.Data;
   //             if (error == '0' && response.length > 0) {
   //                 var item = response[0]; 
   
   //                 $.get('views/vi_criarusuario.html', { id: userId }, function(data) {
   //                     // Cargar el contenido en el modal
   //                     $('#nome').val(item.nome_usuario);
   //                     $('#codigo').val(item.codigo_usuario);
   //                     // $('#senha').val(item.senha_usuario); 
   //                     // $('#tipo_usuario').val(item.tipo_usuario); 
   //                     // $('#estado').val(item.estado_usuario); 
   //                     // $('#municipio').val(item.municipio_usuario); 
   //                     // $('#agencia').val(item.agencia_usuario);
   
                       
   //                     div_program.html('');
   //                     div_program.html(data);
   //                     let modal = $(".modal");
   //                     modal.modal('show');
   //                 });
   //             }
   //         },
   //         error: function(xhr, status, error) {
   //             console.error('Error:', error);
   //         }
   //     });
   // });
   
 
});