body {
    overflow: hidden;
}
body {
    overflow: hidden;
}

textarea {
    font-style: italic;
    overflow:auto;
}

button#cancelar_servico {
    display: block;
    position: relative;
    height: 1.8rem!important;
    width: 90px!important;
    padding:0.35em!important;
    float: right;
    font-weight: bold;
    font-family: Verdana;
    font-size: 9pt;
}

button#gravar_servico{
    display: block;
    position: relative;
    height: 1.8rem!important;
    width: 90px!important;
    padding:0.35em!important;
    float: right;
    font-weight: bold;
    font-family: Verdana;
    font-size: 9pt;
}

