
label, input {
    display: inline-block;
}

.btn-success {
    text-align: center;
    height: 2.35rem;
    width: 4.8rem;
    color: #000;
    font-size: small;
    font-weight: bold;
    border-radius: 0.8rem;
    transition: box-shadow 0.3s linear;
    align-items: center;
    vertical-align: middle;
}


.btn-primary {
    text-align: center;
    height: 2.35rem;
    width: 4.8rem;
    color: white;
    font-size: small;
    font-weight: bold;
    border-radius: 0.8rem;
    transition: box-shadow 0.3s linear;
    align-items: center;
    vertical-align: middle;
}