.wrapper {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 15.5rem;
    height: 100%;
    max-height: fit-content;
    background: #7e7e7e3d;
    backdrop-filter: blur(6px);
    color: white;
    text-align: center;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 6px;
    border-radius: 0.25rem;
    
}

.sub-group {
    border: none;
    background: linear-gradient(92deg, rgb(22 22 22) -5%, rgba(9,9,121,0) 93%, rgba(0,212,255,0) 100%);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    transition:300ms;
    margin-bottom: 1px;
    cursor:pointer;
}

.sub-group:hover {
    transition:300ms;
    background: rgba(255,255,255,0.20);
}

.list-group-item {
    border: none;
    background: linear-gradient(92deg, rgb(22 22 22) -5%, rgba(9,9,121,0) 93%, rgba(0,212,255,0) 100%);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    transition:300ms;
    margin-bottom: 6px;
}

.list-group-item::after {
  left: 0px;
  top: -10px;
  text-transform: uppercase;
  content: "////////";
  position: absolute;
  font-weight: 600;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.1);
  border: none;
}

.list-group-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -105%;
  top: 0px;
  transition:300ms;
  background: rgba(255,255,255,0.20);
  transform:skew(-30deg);
}

.list-group-item:hover:before {
  left: 105%;
}

.logo {
    display: flex;
    position: absolute;
    top: 0px;
    width: 15.5rem;

}
.center-block {
    display: block;
    position: relative;
    top: 15%!important;
    margin-left: auto;
    margin-right: auto;
 }

 .sidebar {
     display: flex;
     flex-direction: column;
     position: relative;
     top: 12%;
 }

.clock {
    display:flex;
    flex-direction: row;
    position: absolute;
    left: 1.5rem;
    bottom: 9px;

}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 52.5%;
    left: 46.5%;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 200;
    transform: translateX(-46.5%) rotate(calc(var(--rotation) * 1deg));
  }

  .clock::after {
    content: '';
    position: absolute;
    background-color: rgba(59, 55, 55,0.65);
    z-index: 11;
    width: 11.2px;
    height: 11.2px;
    top: 48.5%;
    left: 46.5%;
    transform: translate(-48.5%, -46.5%);
    border-radius: 50%;
    z-index:200;
  }

  .clock .hand.hour {
    border: 2.07px solid #413a39;
    height: 24.5%;
  }
    
  .clock .hand.minute {
    border: 1.98px solid #696060;
    height: 28.8%;
  }

  .clock .hand.second {
    border: 1.13px solid rgb(93, 91, 100);
    height: 34.5%;
  }
  
 #close_panel {
     left: 15rem;
     display: flex;
     position: fixed;
     top: 5px;
     cursor: pointer;
 }

 #btmenu {
     display: flex;
     flex-direction: column;
     position: relative;
     width: 0.9rem;
 }
 .row {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
 }

 .row-group {
     background-color: rgba(25,25,25,0.7);
     width: 95%;
     margin-left: 10%;
     height: auto;
     opacity: 0.5;
 }
 .menu-text {
     width: 15.5rem;
 }
 
 @media only screen and (max-height: 800px) {
    .menu-text {
        max-width: auto !important;
    }
       
 }
 .menu-text:hover {
    background-color: rgba(25, 25, 25, 0.6);
    color: white;
    font-weight: bold;
 }

 .rotate-180 {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
 }

 .rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

 .menu-item {
     display: block;
     position: relative;
     color: white;
     background-color: transparent;
 }

 .menu-item:hover {
    width: auto !important;
    background-color: rgba(175,175,175,0.6);
    color: whitesmoke;
    padding: 0.28em;
    font-weight: bold;
 }

 .principal {
     display: block;
     position: absolute;
     top: 4.52%;
     left: 15.8rem;
     background-color: transparent;
     width: 90%;
     height: 90%;
     min-width: 900;
     min-height: 900;
 }