.rotate-180 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
 }

 .rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

body {
    overflow: hidden;
}

tbody>tr:nth-child(even) {
    background-color: rgba(68, 64, 64, 0.3);
    color: #cacaca;
}

tbody>tr:nth-child(odd) {
    background-color:rgba(16, 20, 44, 0.2);
    color: #fff;
}
tbody ::-webkit-scrollbar {
    position: relative;
    right: -0.6em!important;
}

tbody>tr:nth-child(2) {
    cursor: pointer;
}

tbody>tr:nth-child(5) {
    cursor: pointer;
}

tbody>tr:nth-child(6) {
    cursor: pointer;
}

tbody>tr:nth-child(7) {
    cursor: pointer;
}


table, thead, tbody ,tfoot {
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    border: 1px solid rgba(120,120,125,0.5);
}

table {
    width: 100%;
    height: 93.5%;
}
table.tb_showservicos {
    display:block;
    position: absolute;
    top: 2.5%;
    z-index: 100;
    border-collapse: separate;
}

img {
    cursor: pointer;
}

tbody {
    width: calc (100% - 4em);
    height: 91.5%;
    max-height: 800px;
    border: none;
    overflow:auto;
}

@media only screen and (max-height: 800px) {
    table {
        position: relative;
        table-layout: fixed;
    }
    tbody {
        position: relative;
        top: 9.5%;
        width: calc (100% - 4em);
        height: 85%;
        max-height: 750px;
        border: none;
        overflow-x: hidden;
        overflow-y:scroll;
    }
    tfoot {
        position: fixed;
        top: 750px;
        height: 2.9rem;
    }
    thead {
        border: 1px solid rgba(120,120,125,0.5);
        height: 2.9rem;
    }

}
tbody>tr:hover {
    background-color:rgb(0, 0, 0);
    color:rgb(239, 243, 6)

}


#show_servicos {
    position: fixed;
    float: left;
    top: 5rem;
    left:36%;
    height:43rem; 
    width:665rem;
    overflow:hidden;
    border-collapse: collapse;

}

