.card-body {
    display: block;
    position: relative;
    width: 100% !important;
    padding: 0;
    margin: 0;
    height: 80vh !important;
    max-height: 400vh ! important;
    overflow-y: auto !important;
    background-color: whitesmoke;
    color: rgb(10, 10, 10);
    padding: 20px;
    border-radius: 10px;
}
.card-header {
    text-align: center;
    font-weight: bold;
    font-size:medium;
    background-color: darkblue;
    color: white;
}

.card-footer {
    display: flex;
    flex-direction: row;
    float: right;
    background-color: darkblue;
    color: white;

}

.container {
    display: block;
    position: relative;	
    float: left;
    width: 100vw !important;
    height: 100%;
    top: 3%;
}

.rotate-180 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
 }

 .rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.table-responsive .table-agencias {
    display: block;
    border-radius: 3;
    border: 1px solid darkblue;
    overflow: auto;
    width: 100vw !important;
    height:35vh !important;
    max-width: 150%;
    max-height:95vh;
    overflow: auto;
}

.table-agencias tfoot {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    position: sticky;
    bottom: 0; /* Keeps it at the bottom */
    z-index: 1; /* Ensures it remains above table content */
}
.table-agencias thead {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.table-agencias tbody tr:nth-child(even) {
    background-color: aliceblue;
    color: black;
}

.table-agencias tbody tr:nth-child(odd) {
    background-color: lightblue;
    color: black;
}

table-responsive .table-obrigacoes {
    display: block;
    border-radius: 3;
    border: 1px solid darkblue;
    overflow: auto;
    width: 100vw !important;
    height:37vh !important;
    max-width: 150%;
    max-height:95vh;
    overflow: auto;
}

.table-obrigacoes thead {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.table-obrigacoes tbody tr:nth-child(even) {
    background-color: aliceblue;
    color: black;
}

.table-obrigacoes tbody tr:nth-child(odd) {
    background-color: lightblue;
    color: black;
}