.rotate-180 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
 }

 .rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

body {
    overflow: hidden;
}

table {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: Verdana;
    font-size: 10;
    width: 10.5rem;
    height: 29.5rem;
    overflow:hidden;
}

tbody {
    display: relative;
    overflow: auto;
}
.waiting {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    text-align:center;
    transform: translate (-50%, -50%) !important;

}

.card-exportatudo {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 9px;
    left: -4rem;
    width: Calc(100% - 4rem);
    height: 48rem;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #cacaca;
    background-color: rgba(47, 47, 49, 0.8);
}

@media screen and (max-height: 800px) {
   .card-exportatudo {
        display: flex;
        position: relative;
        flex-direction: row;
        top: 9px;
        left: -4rem;
        width: Calc(100% - 4rem);
        height: Calc( 80% - 4rem);
        max-height: 790px;
   }
    
}