#show_fields {
    position: fixed;
    float: left;
    top:5rem; 
    left:66%;
    /*height:30rem!important;*/ 
    width:25rem;
    overflow:hidden;
    border-collapse: collapse;
}

#show_types {
    position: fixed;
    float: left;
    top:5rem; 
    left:36%;
    height:35rem!important; 
    width:25rem;
    overflow:hidden;
    border-collapse: collapse;
}

.generic {
    display: block;
    position: relative;
    top:3.5%;
    left: 12%;
    width: 65em;
    border-collapse: collapse;
}

.card-trasparent {
    background: transparent;
    color: #fff;
}

.card-body input[type = "text"], select.selectpicker {
  background: #212529;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border:0;
  border-radius: 5px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; 
}

.tb_transporte>tbody {
    border-top: none;
    border-bottom: none;
} 

.tb_transporte>tfoot>tr>td {
    position:absolute;
    bottom:0;
    height: 0.8rem;
    width:100%;
}

.tb_transporte>tbody>tr>td {
    padding:0.35em;
}

.tb_transporte>thead>tr>th {
    position: relative;
    background-color: rgb(58, 56, 56) !important;
    overflow: hidden;
    height: 0.8rem;
}
.th_transporte>thead {
    position: sticky;
    top: 0;
}

button.modal-close {
    background: transparent;
    border: none;
    color: #f00;
    font-size: xx-large;
}