#show_fields {
    position: fixed;
    float: left;
    top:5rem; 
    left:66%;
    /*height:30rem!important;*/ 
    width:25rem;
    overflow:hidden;
    border-collapse: collapse;
}

#show_types {
    position: fixed;
    float: left;
    top:5rem; 
    left:36%;
    height:35rem!important; 
    width:25rem;
    overflow:hidden;
    border-collapse: collapse;
}


.generic {
    display: block;
    top:3.5%;
    left: 12%;
    max-width: 90rem;
    max-height: fit-content;
    z-index: 2000;
}

.card-trasparent {
    background: transparent;
    color: #fff;
}

.card-body input[type = "text"], select.selectpicker {
  background: transparent;
  border:0;
  border-radius: 5px;
  outline: none;
  color: #d6d6d6;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; 
}

.tb_services {
    width: 100vw !important;
    max-width: 160vw !important;
    overflow-x:auto;
    font-size: 10pt;
}

.tb_services>tfoot>tr>td {
    position:absolute;
    bottom:0;
    height: 0.8rem;
    width:100%;
}

.tb_services>tbody {
    border-top: none;
    border-bottom: none;
    overflow-y: auto;
    background-color: transparent !important;
    height: Calc(100vh - 2.8rem) !important;
    max-height: fit-content;
}

.tb_services>tbody>tr>td:nth-child(4) {
    z-index:-1;
    padding-right:2em!important;
}


.tb_services>tbody>tr>td:nth-child(6) {
    padding-right:2em!important;
}

.tb_services>tbody>tr>td:nth-child(7) {
    text-align: center;
}
.tb_services>tbody>tr {
    background-color: transparent !important;
    color: white;
}
.tb_services>tbody>tr:hover {
    background-color: rgba(58, 56, 56,0.5) !important;
    font-weight: bold;
    color: yellowgreen !important;
}

.tb_services>thead>tr>th {
    position: relative;
    background-color: rgb(58, 56, 56) !important;
    z-index: 1000;
    height: 0.8rem;
}

button.modal-close {
    background: transparent;
    border: none;
    color: #f00;
    font-size: xx-large;
}